body{
    background-color: #ecedd2;
    font-family: Inter;
}

#cardapio {
    display: grid; /* Ativa o CSS Grid */
    grid-template-columns: repeat(4, 1fr); /* Define 4 colunas, com largura igual */
    gap: 20px; /* Espaçamento entre as imagens */
    width: 100%; /* Faz o grid ocupar toda a largura disponível */
  }
  
  .img-menu {
    text-align: center; /* Centraliza o conteúdo dentro de cada imagem */
    background-color: #f5f5f5; /* Adiciona um fundo para melhor visualização */
    padding: 10px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
  }
  
  .img-menu img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Bordas arredondadas nas imagens */
  }
  
  .food-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    text-align: left;
  }
  
  .description {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
    text-align: left;
  }

  .btn-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn-add{
    background-color: #c7e755;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    height: 50px;
    margin-right: 8px;
    border-radius: 15px;
  }

  .price{
    margin-left: 15px;
  }

  .icone-add-cart{
    margin-right: 5px;
    padding: 5px;
  }